page-user {

    ion-content {
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .scroll-content {
    margin-top: 0 !important;
  }

    ion-button {
    opacity: 0.8;
  }

}
