<ion-header>
  <ion-navbar color="pink" class="white-text">
     <button ion-button menuToggle class="TopLMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title >Update Road</ion-title>
    <ion-buttons right>
        <button color="light" ion-button icon-only>
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>



<ion-content no-padding>

    <form [formGroup]="roadForm" (ngSubmit)="submitForm(roadForm.value)">
     
        <ion-list>
          
          <ion-item>
             <ion-label floating>Road Name:</ion-label>
            <ion-input type="text" value="{{this.road_name}}" [formControl]="roadForm.controls['road_name']" [ngClass]="{'error-border':!roadForm.controls['road_name'].valid}"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label floating>Polyline :</ion-label>
            <ion-input   type="text" value="{{this.en_polyline}}" [formControl]="roadForm.controls['en_polyline']" [ngClass]="{'error-border':!roadForm.controls['en_polyline'].valid}"></ion-input>
          </ion-item>  
          <ion-item>
            <ion-label floating>Polyline Encryption Levels :</ion-label>
            <ion-input   type="text" value="{{this.en_levels}}"  [formControl]="roadForm.controls['en_levels']" [ngClass]="{'error-border':!roadForm.controls['en_levels'].valid}"></ion-input>
          </ion-item>
           <ion-item>
            <ion-label>Active</ion-label>
            <ion-checkbox color="dark" checked="true"></ion-checkbox>
            </ion-item>
          
        </ion-list>

        <div margin>
            <div class="error-box" *ngIf="roadForm.controls['road_name'].hasError('required') && roadForm.controls['road_name'].touched">* Message Road Name is required!</div>
            <div class="error-box" *ngIf="roadForm.controls['road_name'].hasError('minlength') && roadForm.controls['road_name'].touched">* Minimum message Road Name length is 5!</div>
            <div class="error-box" *ngIf="roadForm.controls['road_name'].hasError('maxlength') && roadForm.controls['road_name'].touched">* Maximum message Road Name length is 10!</div>

            <div class="error-box" *ngIf="roadForm.controls['en_polyline'].hasError('required') && roadForm.controls['en_polyline'].touched">* Message Polyline is required!</div>
            <div class="error-box" *ngIf="roadForm.controls['en_polyline'].hasError('minlength') && roadForm.controls['en_polyline'].touched">* Minimum message Polyline length is 5!</div>
            <div class="error-box" *ngIf="roadForm.controls['en_polyline'].hasError('maxlength') && roadForm.controls['en_polyline'].touched">* Maximum message Polyline length is 10!</div>
        </div>
     
        <ion-footer>
          <div padding>
            <button type="submit" color="orange" [disabled]="!roadForm.valid" ion-button full >Submit</button>
          </div>
        </ion-footer>
    </form>
</ion-content>

